@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

@primary: #66e2dc;
@secondary: #fa7453;
@tertiary: #ffb964;
@white: #fcfaf9;
@black: #191826;

@tablet: 768px;
@desktop: 1440px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  width: 100%;
  min-height: 100vh;
  font-size: 16px;

  background: url(./assets/bg-main-mobile.png) no-repeat left 0px top -250px;

  @media (min-width: @tablet) {
    background: url(./assets/bg-main-tablet.png) no-repeat left 75% top -35%;
  }

  @media (min-width: @desktop) {
    background: url(./assets/bg-main-desktop.png) no-repeat center top 100%;
  }
}

.equalizer {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 0;
  overflow-x: hidden;

  @media (min-width: @tablet) {
    max-width: 1024px;
    margin: 0 auto;
  }

  @media (min-width: @desktop) {
    max-width: 1110px;
    margin: 0 auto;
    padding: 3.875rem 0;
    overflow-x: inherit;
  }

  &__header {
    padding: 0 1.5rem;

    @media (min-width: @tablet) {
      height: 32px;
      padding: 0 2.4375rem;
    }

    @media (min-width: @desktop) {
      padding: 0;
    }

    img:last-child {
      display: none;
      visibility: hidden;
      width: 266px;

      @media (min-width: @tablet) {
        display: inline;
        visibility: visible;
        position: relative;
        z-index: 1;
        float: right;
        transform: translateX(4.6875rem) translateY(-4.5rem);
      }

      @media (min-width: @desktop) {
        transform: inherit;
        position: absolute;
        right: 0;
        top: -2.5rem;
      }
    }
  }

  &__title {
    padding: 0 1.5rem;
    margin: 4rem 0;
    color: @black;

    @media (min-width: @tablet) {
      box-sizing: content-box;
      padding: 0 2.4375rem;
      margin: 7.9375rem 0 6.9375rem 0;
      max-width: 514px;
    }

    @media (min-width: @desktop) {
      padding: 0;
      margin: 7.9375rem 0 6.75rem 0;
      max-width: inherit;
    }

    h1 {
      font-size: 2.5rem;
      line-height: 3rem;
      font-weight: bold;
      letter-spacing: -0.454545px;
      margin-bottom: 1.25rem;

      @media (min-width: @tablet) {
        font-size: 4rem;
        line-height: 4rem;
        margin-bottom: 1.75rem;
      }

      @media (min-width: @desktop) {
        font-size: 5.5rem;
        line-height: 5.5rem;
        margin-bottom: 2.5rem;
      }
    }

    p {
      font-size: 1rem;
      line-height: 1.625rem;

      @media (min-width: @tablet) {
        font-size: 1.125rem;
        line-height: 1.75rem;
      }

      @media (min-width: @desktop) {
        font-size: 1.25rem;
        line-height: 2.125rem;
        max-width: 825px;
      }
    }
  }

  &__description {
    background: @black url(./assets/bg-pattern-2.svg) no-repeat center top;
    background-size: 280px 420px;
    border-radius: 0.75rem;
    margin: 6.125rem 0 0 0;

    @media (min-width: @tablet) {
      background: @black url(./assets/bg-pattern-2.svg) no-repeat left 57% top -43px;
      margin: 8.625rem 2.0625rem 6rem 2.4375rem;
      display: flex;
      justify-content: space-between;
      height: 600px;
    }

    @media (min-width: @desktop) {
      background: @black url(./assets/bg-pattern-2.svg) no-repeat left 42% top -43px;
      background-size: 312px 468px;
      margin: 13.3125rem 0 7.1875rem 0;
    }

    aside {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      height: calc(430px - 6.125rem);
      margin-bottom: 3rem;

      img {
        width: 13rem;
        transform: translateY(-6.125rem);
      }

      @media (min-width: @tablet) {
        justify-content: flex-start;
        height: calc(420px - 8.625rem);
        margin-bottom: 0;
        position: relative;
        z-index: 1;

        img {
          width: 16.875rem;
          transform: translateX(4rem) translateY(-8.625rem);
        }
      }

      @media (min-width: @desktop) {
        img {
          width: 19.5rem;
          transform: translateX(6.375rem) translateY(-13.3125rem);
        }
      }
    }

    section {
      background: @secondary;
      color: @white;
      padding: 3rem 2.25rem;
      border-radius: 0.75rem;
      height: fit-content;

      @media (min-width: @tablet) {
        padding: 3rem;
        position: relative;
        z-index: 2;
        float: right;
        max-width: 399px;
        transform: translateX(-3.625rem) translateY(9.375rem);
      }

      @media (min-width: @desktop) {
        padding: 3.625rem 3.6875rem 3rem 3.375rem;
        max-width: 446px;
        transform: translateX(-5.9375rem) translateY(5.625rem);
      }

      h2 {
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: bold;
        margin-bottom: 0.75rem;

        @media (min-width: @desktop) {
          font-size: 2.5rem;
          line-height: 3.25rem;
          margin-bottom: 1.375rem;
        }
      }

      p {
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: normal;
        margin-bottom: 2.25rem;

        @media (min-width: @desktop) {
          font-size: 1.25rem;
          line-height: 2.125rem;
          margin-bottom: 2.4375rem;
        }
      }

      h3 {
        width: 100%;
        display: inline-flex;
        align-items: center;
        gap: 1rem;
        font-size: 4.0625rem;
        line-height: 3.25rem;
        margin-bottom: 2rem;

        @media (min-width: @desktop) {
          margin-bottom: 2.875rem;
        }

        span {
          font-weight: normal;
          font-size: 1.25rem;
          line-height: 2rem;
          letter-spacing: -0.2px;
        }
      }
    }
  }

  &__button--ios {
    .button();
    background: @black;
    color: @white;
    margin-bottom: 1rem;

    &:hover {
      background: @primary;
    }
  }

  &__button--android {
    .button();
    background: @white;
    color: @black;

    &:hover {
      background: @tertiary;
    }
  }

  &__footer {
    padding: 4rem 1.5rem 3rem 1.5rem;
    color: @black;

    @media (min-width: @tablet) {
      padding: 5.4375rem 2.4375rem 2.8125rem 2.065rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 'logo logo' 'contact social';
    }

    @media (min-width: @desktop) {
      padding: 5.4375rem 0 1.8125rem 0;
      grid-template-columns: 285px 366px 1fr;
      grid-template-areas: 'logo contact social';
    }

    & > img {
      margin-bottom: 2rem;

      @media (min-width: @tablet) {
        grid-area: logo;
      }
    }

    p {
      font-size: 1rem;
      line-height: 1.625rem;
      margin-bottom: 4rem;

      @media (min-width: @tablet) {
        max-width: 22.875rem;
        margin-bottom: 0;
        grid-area: contact;
      }
    }

    ul {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      img {
        cursor: pointer;
        transition: all 0.15s ease-in-out;

        &:hover {
          filter: invert(62%) sepia(63%) saturate(2707%) hue-rotate(326deg)
            brightness(100%) contrast(96%);
        }
      }

      @media (min-width: @tablet) {
        grid-area: social;
        justify-content: flex-end;
      }
    }
  }
}

.button {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: none;
  outline: none;
  padding: 1rem 0;
  border-radius: 0.75rem;
  transition: all 0.2s ease-in-out;

  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 2rem;
  text-align: center;
  letter-spacing: -0.18px;

  @media (min-width: @desktop) {
    padding: 0.9375rem 0 0.875rem 0;
  }
}
